<!-- <h1>List View</h1> -->
<sl-heading [heading]="'List View'"></sl-heading>

<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <sl-search (searchQueried)="performSearch($event)"></sl-search>
    </div>
  </div>
  <div class="col-sm-6 text-sm-right">
    <sl-button
      [text]="'Add new'"
      [type]="buttonType.primary"
      routerLink="/newcharacter"
    ></sl-button>
  </div>
</div>

<sl-table-view [characters]="characterData"></sl-table-view>

<sl-pagination></sl-pagination>

<router-outlet></router-outlet>
