<sl-heading [heading]="'List View'"></sl-heading>

<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <sl-search
        [setSearchQuery$]="setSearchQuery$"
        (searchQueried)="performSearch($event)"
      ></sl-search>
    </div>
  </div>
  <div class="col-sm-6 text-sm-right">
    <sl-button
      [text]="'Add new'"
      [type]="buttonType.primary"
      routerLink="/characters/new"
    ></sl-button>
  </div>
</div>

<sl-table-view
  (deleteCharacter)="deleteCharacterById($event)"
  (editCharacter)="editCharacterById($event)"
  [characters$]="charactersData$"
></sl-table-view>

<router-outlet></router-outlet>
