<h2>Add New Character</h2>

<form focusFirstInvalidField [formGroup]="addCharacterForm">
  <div class="form-row">
    <div class="form-group col">
      <label for="name"
        >Name<span *ngIf="checkIsControlRequired('name')">*</span></label
      >
      <input
        class="form-control"
        type="text"
        formControlName="name"
        id="name"
        [ngClass]="{
          'is-invalid':
            (submitted && getFormControl.name.errors) ||
            (getFormControl.name.errors && getFormControl.name.touched)
        }"
      />
      <div
        *ngIf="
          (submitted && getFormControl.name.errors) ||
          (getFormControl.name.errors && getFormControl.name.touched)
        "
        class="invalid-feedback"
      >
        <div *ngIf="getFormControl.name.errors?.required">
          This field is required
        </div>
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col">
      <label for="species"
        >Species<span *ngIf="checkIsControlRequired('species')">*</span></label
      >
      <select
        class="form-control"
        formControlName="species"
        [ngClass]="{
          'is-invalid':
            (submitted && getFormControl.species.errors) ||
            (getFormControl.species.errors && getFormControl.species.touched)
        }"
      >
        <option *ngFor="let specie of species" value="{{ specie }}">{{
          specie
        }}</option>
      </select>
      <div
        *ngIf="
          (submitted && getFormControl.species.errors) ||
          (getFormControl.species.errors && getFormControl.species.touched)
        "
        class="invalid-feedback"
      >
        <div *ngIf="getFormControl.species.errors?.required">
          This field is required
        </div>
      </div>
    </div>
  </div>

  <h3>Gender<span *ngIf="checkIsControlRequired('gender')">*</span></h3>

  <div class="form-row">
    <div class="form-group col">
      <label for="male">Male</label>
      <input
        class="form-control"
        type="radio"
        formControlName="gender"
        id="male"
        value="male"
        [ngClass]="{
          'is-invalid':
            (submitted && getFormControl.gender.errors) ||
            (getFormControl.gender.errors && getFormControl.gender.touched)
        }"
      />
      <div
        *ngIf="
          (submitted && getFormControl.gender.errors) ||
          (getFormControl.gender.errors && getFormControl.gender.touched)
        "
        class="invalid-feedback"
      >
        <div *ngIf="getFormControl.gender.errors?.required">
          This field is required
        </div>
      </div>
    </div>
    <div class="form-group col">
      <label for="female">Female</label>
      <input
        class="form-control"
        type="radio"
        formControlName="gender"
        id="female"
        value="female"
      />
    </div>
    <div class="form-group col">
      <label for="n/a">n/a</label>
      <input
        class="form-control"
        type="radio"
        formControlName="gender"
        id="n/a"
        value="n/a"
      />
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col">
      <label for="homeworld"
        >Homeworld<span *ngIf="checkIsControlRequired('homeworld')"
          >*</span
        ></label
      >
      <input
        class="form-control"
        type="text"
        formControlName="homeworld"
        id="homeworld"
      />
    </div>
  </div>

  <div class="text-center">
    <button (click)="onSubmit()" class="btn btn-primary">
      {{ isEditMode ? 'Save changes' : 'Add' }}
    </button>
  </div>
</form>
